
<ActionBar title="My Courses Details" class="action-bar"></ActionBar>

<TabView selectedTabTextColor="white" 
         tabBackgroundColor="skyblue"
         tabTextFontSize="16"
         androidSelectedTabHighlightColor="orangered"         
         [(ngModel)]="tabSelectedIndex" (selectedIndexChanged)="onSelectedIndexChanged($event)">
        <StackLayout *tabItem="{title: 'My Active Assignments'}">
            <StackLayout>
                <!-- <Label [text]="tabSelectedIndexResult" class="h2 m-t-16 text-center" textWrap="true"></Label>
                <Button text="Change Tab via ngModel" (tap)="changeTab()" class="btn btn-primary btn-active"></Button> -->
                <CardView *ngFor="let item of active" class="card" elevation="40" radius="10" ios:shadowRadius="3">
                        <StackLayout class="card-layout">
                                <Image [src]="item.imageSrc"></Image>
                                <Label [text]="item.name"></Label>
                                <Label [text]="item.price"></Label>
                                <Label [text]="item.desc"></Label>
                            <Button class="btn btn-primary" [text]="item.heading" [nsRouterLink]="['/course', item.heading]"></Button>
                        </StackLayout>
                </CardView>

                <!-- <ListView [items]="active" height="100%">
                        <ng-template let-item="item" let-i="index">
                            <GridLayout rows="auto, *">
                            <Image [src]="item.imageSrc"></Image>
                            <Label [text]="item.name"></Label>
                            <Label [text]="item.price"></Label>
                            <Label [text]="item.desc"></Label>
                            </GridLayout>
                        </ng-template> 
                    </ListView> -->
            </StackLayout>
        </StackLayout>
        <StackLayout *tabItem="{title: 'My Inactive Assignments'}">
            <StackLayout>
                <!-- <Label [text]="tabSelectedIndexResult" class="h2 m-t-16 text-center" textWrap="true"></Label>
                <Button text="Change Tab via ngModel" (tap)="changeTab()" class="btn btn-primary btn-active"></Button> -->
                <ListView [items]="inactive" height="100%">
                        <ng-template let-item="item" let-i="index">
                                <GridLayout rows="auto, *">
                            <Image [src]="item.imageSrc"></Image>
                             <Label text="item.name"></Label>
                             <Label text="item.price"></Label>
                            <Label text="item.desc"></Label>
                               </GridLayout>         
                        </ng-template> 
                </ListView>
            </StackLayout>
        </StackLayout>
        <StackLayout *tabItem="{title: 'My Anytime Assignments'}">
            <StackLayout>
                <!-- <Label [text]="tabSelectedIndexResult" class="h2 m-t-16 text-center" textWrap="true"></Label>
                <Button text="Change Tab via ngModel" (tap)="changeTab()" class="btn btn-primary btn-active"></Button> -->

                <ListView [items]="anytime" height="100%">
                        <ng-template let-item="item" let-i="index">
                            <GridLayout rows="auto, *">
                            <Image [src]="item.imageSrc"></Image>
                            <Label text="item.name"></Label>
                             <Label text="item.price"></Label>
                             <Label text="item.desc"></Label>
                             </GridLayout>
                        </ng-template> 
                </ListView>
            </StackLayout>
        </StackLayout>
    </TabView>