<ActionBar title="My Courses" class="action-bar"></ActionBar>


<GridLayout class="page">
  <ScrollView class="page">
                <StackLayout>
                    <!-- On Android the card view plugin requires adding an external library
                        therefore it can't be demoed on Playground. You will have to download this project
                        and build it locally to try it on Android -->
                    <CardView *ngFor="let item of data" class="card" elevation="40" radius="10" ios:shadowRadius="3">
                        <StackLayout class="card-layout">
                            <Label class="h2" [text]="item.heading"></Label>
                            <Label class="body" textWrap="true" [text]="item.content"></Label>
                            <!-- FIXME: This needs to fixed so parameter can be passsed to next view -->
                            <!-- <Button class="btn btn-primary" [text]="item.heading" (tap)="onTap()"></Button> -->
                            <Button class="btn btn-primary" [text]="item.heading" [nsRouterLink]="['/course', item.heading]"></Button>
                        </StackLayout>
                    </CardView>
     </StackLayout>
 </ScrollView>


 <!-- >> tab-view-navigation-ng-html -->
 
    <!-- << tab-view-navigation-ng-html -->
    <!-- <Button (tap)="ActiveAssignments()"  text="Active Assignments" row="2" col="0"></Button>
    <Button (tap)="InactiveAssignments()" text="Inactive Assignments" row="2" col="1"></Button>
    <Button (tap)="PracticeAssignments()" text="Practice Assignments" row="2" col="2"></Button> -->
</GridLayout>


